# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/
.venv/

# Ignore all compiled Python files
*.py[cod]
*.pyo
*.pyd
*.pyc


# Ignore data session output
data/
sessions/

# (Optional) Ignore VS Code settings
.vscode/